@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset By Coco */


@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../assets/fonts/font/HelveticaNowDisplay-Regular.ttf');

}

@font-face {
    font-family: 'havelrica';
    src: url('../assets/fonts/font/HelveticaNowDisplay-Bold.ttf');
}

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Helvetica Now Display';
}

html,
body,
#root {
    height: 100%;
}

ul,
ol {
    margin:0;
    padding:0;
    list-style: none;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    vertical-align: middle;
}

/* End Css Reset */

.forgot__pass{
    background-image: url('../assets/images/others/Net.png');
}


h1{
    font-family: 'havelrica';
}